# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production build or distribution
build
dist

# Environment
.env

# draw.io backup files
~$*.bkp

# Mac nonsense
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous backup files
*.bak

# vim swap files
*.swp
