# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
build
data

# environment
.env

# draw.io backup files
~$*.bkp

# Miscellaneous backup files
*.bak

# vim swap files
*.swp

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac nonsense
.DS_Store
